/* 
#16795B button color (mid-dark)
#185337 header color (dark)
#49B27F icon color (light)
#E9F6E9 button pressed (very light)
*/

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    background-color: #F4F4F4;
    color: #333;
}

h1 {
    background-color: #185337;
    color: white;
    padding: 20px 40px;
    display: flex;
    text-align: center;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 15px;
}

.projects {
    background-color: #E0E0E0;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
}

.projectSingleContainer {
    display: grid;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 15px;
}

.projectSingle {
    background-color: #E0E0E0;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s;
    width: 520px;
}

.projects:hover {
    background-color: #cecece;
}

img {
    width: 400px;
    height: 225px;
    padding: 10px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.accessDenied {
    text-align: center;
    padding: 20px;
    font-size: 70px;
}

footer {
    background-color: #16795B;
    color: white;
    padding: 20px 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}